<div class="toolbar" role="banner">
  <img width="100" height="40" alt="Uvic Logo" src="assets/img/UVic_logo.jpg"/>

  <div>
    <span style="font-size: 24px;">COVID-19 Across US</span>
  </div>

  <div class="spacer"></div>

  <span><a routerLink="/home"><span class="nav-sub-title">Description</span></a></span>
  <span><a routerLink="/map"><span class="nav-sub-title">Case Map</span></a></span>
  <span><a routerLink="/bar"><span class="nav-sub-title">Recovery Progress</span></a></span>
  <span><a routerLink="/circular"><span class="nav-sub-title">Infection & Mortality</span></a></span>
</div>


<div class="content" role="main">
  <router-outlet></router-outlet>

  <footer class="fixed-bottom">
    <div class="footer">© 2021 Copyright: Shu Han</div>
  </footer>
</div>

