<h4 class="sub-page-title">Description</h4>
<div class="main-content">
    <ul>
        <li>This is a course project at University of Victoria, BC, Canada.</li>
        <li>The specific course is CSC 511 - Information Visualization, Instructor: Dr. Charles Perin</li>
        <li>The author of this website is actively attending this course during Jan 2021 to April 2021, and this is the final course project.</li>
        <li>The purpose of this project is trying to get a better understanding the Visualization design metrics. And it will apply the public data from <a href="https://covidtracking.com/">https://covidtracking.com/</a> to build several charts to demonstrate the course spirit.</li>
        <li>This project starts on Feb 23, 2021, and will be finished before April 12, 2021.</li>
        <li>Author LinkedIn: <a href="https://www.linkedin.com/in/shu-han/">https://www.linkedin.com/in/shu-han/</a></li>
    </ul>

    <button (click)="processData()">Process data</button>
</div>


