/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.sub-page-title{
    text-align: center;
}

.main-container{
    height: 600px;
    width: 1000px;
}
